<!-- crating a strongly typed view-->

@*@model IEnumerable<Restaurant.Models.Review>

@{
    ViewBag.Title = "Index";
}*@

@* if @RenderSection("featured", required: false) in _Layout.cshtml we can define @section featured{}*@

@section featured{
<!-- razor understands c# code @Model.Count()  -->
@*<h1>Currenty there are @Model.Count() reviews</h1>
    }

<h2>Reviews from around the world</h2>*@


@*<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.City)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.Country)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Rating)
        </th>
        <th></th>
    </tr>*@

@*@foreach (var item in Model) {
   @Html.Partial("_Review", item);
}

</table>*@
